.mor-asd-center{
    text-align: center;
}



.mor-asd-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}


.row{
    width: 100% ;
    display: flex ;
}

.col-6{
    width: 50% ;
}

.mor-asd-button-success{
    color: #00a912 !important;
    border-color: #00a912 !important;
    background-color: #fff !important;
}

.mor-asd-button-fail{
    color: #eb0100 !important;
    border-color: #eb0100 !important;
    width: 100px !important;
    background-color: #fff !important; 
}

.mor-asd-container{
    margin-right:10px;
}
.mor-asd-buttons{
    display : flex;
    justify-content : center;
}
.mor-asd-rev-buttons{
    font-size :18px !important;
    margin : 4px !important;
    border-radius : 4px !important;
}
.mor-asd-button-success:hover{
    transform: scale(1.1) !important;
}
.mor-asd-button-fail:hover{
    transform: scale(1.1) !important;
}
.mor-asd-button-img{
    height : 21px;
    margin-bottom : -4px;
}



.tablink {
    background-color: #e7e8eb;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 15%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .tablink:hover {
    background-color: #b7d1e6c9;
  }
  
  .tabcontent {
    color: black;
    display: none;
    height: 100%;
    background-color: #f1f1f1;
    border-top: solid 2px #2271b1;
  }

table.diff{
    background: white;
}

#mo-asd-logo{
    margin-left:auto; 
    margin-right: 10px;
    height: 50px;
}

.mor-asd-navbar button{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.mor-asd-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 100% !important;
    border-radius: 5px;
    
  }
  
.mor-asd-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.mor-asd-card h3{
    border-bottom: solid 1px #9ca2a7;
    padding-bottom: 8px;
}